footer {
    background-color: #343a40;
    color: rgb(220, 220, 220);
    text-align: center;
    padding: 40px 20px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 -4px 15px rgb(40, 40, 40);
}

.get-in-touch {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none !important;
}
