body {
    color: rgb(220, 220, 220);
    background-color: rgb(70, 70, 70);
    font-family: "Montserrat", sans-serif;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

main img {
    width: 100%;
    min-width: 512px;
    border-radius: 4px;
    box-shadow: 4px 4px 15px rgb(30, 30, 30);
}

.catchy-text {
    font-size: 2rem;
    box-shadow: 4px 4px 8px rgb(30, 30, 30);
    padding: 15px;
    border-radius: 4px;
}

.column-text {
    display: flex;
    align-items: center;
}

.read-more {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 90px 0;
}

.read-more .dot {
    margin-bottom: 0;
}

.quick-info {
    font-size: 1.2rem;
    max-width: calc(60% + 1.2rem);
    margin: 0 auto;
}

.quick-info .b {
    font-weight: bold;
}

.chatgpt {
    font-style: italic;
    padding: 50px 0;
}

.chatgpt .who {
    float: right;
}
